version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: trackly-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: trackly
      POSTGRES_PASSWORD: trackly
      POSTGRES_DB: trackly_dev
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
